.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea {
    min-height: 400px;
}

.email {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
}